name: GitHub Pages deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    concurrency:
      group: pages
      cancel-in-progress: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
      - name: Install dependencies and build
        run: |
          npm install
          yarn build --base=/${{ github.event.repository.name }}/
          cp dist/index.html dist/404.html
      - name: Setup GH Pages
        uses: actions/configure-pages@v3
      - name: Upload GH Pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: './dist'
      - name: Deploy GH Pages
        uses: actions/deploy-pages@v1
